@page "/fetchdata-multids"

@using  Example3.Util
@inject IHttpClientFactory HttpFactory

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" @onclick="SizeToFitCols">Size-to-Fit Columns</button>
<button class="btn btn-primary" @onclick="SizeToFitCols500">Size-to-Fit 500 Columns</button>
<button class="btn btn-primary" @onclick="AutosizeCols">Autosize Columns</button>
<button class="btn btn-primary" @onclick="RefreshRows">Refresh Rows</button>
<button class="btn btn-primary" @onclick="PurgeRows">Purge Rows</button>

@if (photoOp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Render Count: @renderCount</p>

    <div class="container-lg">
        <div class="row">
            <div class="col">
                <h4>Albums:</h4>
                <Grid @ref="albumGrid" WidthStyle="100%" HeightStyle="500px"
                      Options="albumOp" Events="albumEv" ConfigureScript="example4_fetchData5_albums_configure">
                    @*<GridColumn IsResizable="true" IsSortable="true" Header="ID" Field="id" />
                        <GridColumn IsResizable="true" IsSortable="true" Header="User ID" Field="userId" />
                        <GridColumn IsResizable="true" IsSortable="true" Header="Title" Field="title" />*@
                </Grid>
            </div>

            <div class="col">
                <div class="container">
                    <div class="row">
                        <h4>Photos:</h4>
                        <Grid @ref="photoGrid" WidthStyle="100%" HeightStyle="230px"
                              Options="photoOp" Events="photoEv" ConfigureScript="example4_fetchData5_photos_configure">
                            <GridColumn IsResizable="true" IsSortable="true" Header="ID" Field="id" />
                            <GridColumn IsResizable="true" IsSortable="true" Header="Album ID" Field="albumId" />
                            <GridColumn IsResizable="true" IsSortable="true" Header="Title" Field="title" />
                            <GridColumn IsResizable="true" IsSortable="true" Header="URL" Field="url" />
                            <GridColumn IsResizable="true" IsSortable="true" Header="Thumbnail URL" Field="thumbnailUrl" />
                        </Grid>
                    </div>
                    @if (thumbnails == null)
                    {
                        <div class="row"><i>(select some photos to preview)</i></div>
                    }
                    else
                    {
                        <div class="row">
                            <h5>Thumbs:</h5>
                        </div>
                        <div class="row">
                            @foreach (var t in thumbnails)
                            {
                                <img style="border: dotted 1px #808080;" src="@t" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


}
